.header {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  background-color: $primary-background-color;

  &__logo {
    margin-left: 40px;
    margin-right: 54px;
  }

  &__header-menu {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  &__menu-toggle {
    display: none;
    cursor: pointer;
  }
}

.wrapper-header {
  border-bottom: 1px solid $section-border-color;
  position: sticky;
  z-index: 100;
  top: 0;
}

.header-menu__menu-item {
  list-style-type: none;
  margin-right: 28px;
  cursor: pointer;
  transition: color .15s ease-out;

  &:hover {
    opacity: 1;
    color: #cc0000;
    text-shadow: 0 0 4px #cc000022;
  }


  &_active {
    &_true {
      opacity: 1;
    }

    &_false {
      opacity: 0.6;
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: 64px;
    border-bottom: none;
    padding-left: 20px;
    padding-right: 20px;

    &__logo {
      margin-right: 54px;
      margin-left: 0;
      flex: 1 0 auto;
    }

    &__header-menu {
      padding: 0;
      margin: 0;
      display: none;
      position: absolute;
      background-color: #FFFFFF;
      z-index: 100;
      left: 0;
      top: 64px;
      width: 100%;

      &:first-child {
        border-top: 1px solid #F0F0F0;
      }
    }

    &__menu-toggle {
      display: inline-block;
    }
  }

  .header-menu__menu-item {
    padding: 15px 20px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #F0F0F0;
  }

}
